
<form action="/TRAINER/AddLevel" method="post"  class="p-5" >
    <div class="card" style="border-radius: 15px; max-height: 700px;" id="addClass">
      <div class="card-body p-3">

       <h1 class="text-center m-5">add level</h1>

       <div class="">

        <div class="form-outline mb-4">
            <label class="form-label" for="title">Title</label>
            <select name="Title" id="Title" class="form-control form-control-lg" style="background: none; border: 3px solid rgb(33, 6, 89);" required >
                <option value="high">High</option>
                <option value="medium">Medium</option>
                <option value="low">Low</option>
            </select>
          </div>
  
          <div class="form-outline">
            <label class="form-label" for="min">Minimum number of points : </label>
            <input type="number" name="min" id="min" class="form-control form-control-lg" min="1" max="100" required />
          </div>
  
          <div class="form-outline">
              <label class="form-label" for="max">Maximum number of points : </label>
              <input type="number" name="max" id="max" class="form-control form-control-lg" min="1" max="100" required />
          </div>

       </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-block btn-lg gradient-custom-4 text-body">Submit</button>
        </div>
      </div>
    </div>
  </form>
