<div id="trainerPopup" class="popup-card" style="display: none;">
    <div class="container p-5" id="Trainer_card">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
              <img src="images/360_F_129268359_lxO1p1PZEVGxTTVvfBzhsdQkuLABoB1Q-removebg-preview 2.png" alt="">
              
              <div class="d-flex justify-content-center gap-5">
                <button type="button" class="btn btn-block text-white" id="TLogin">Login</button>
                <button type="button" class="btn btn-block  text-white" id="TSignUp">Sign Up</button>
              </div>
      </div>
    </div>
  </div>
