
              <div class="card-body p-5 " style="border-radius: 15px;" id="TrinerForm">
              <div class="row g-0">
                <div class="col-lg-6" id="FormInfo">


                    <div class="row">
                        <div class="col-md-12">
                            <img src="images/Ellipse 28.png"  alt="">
                            <h1 class="text-center">Let’s get you set up</h1>
                            <p class="text-center mt-5">its should be only couple of steps </p>
                        </div>
                    </div>
                
                </div>

                <form class="col-lg-6 p-5 text-white" id="tForm">
                  <div class="p-5 text-dark">  

                    <div class="row">
                      <div class="col-md-6 mb-4 pb-2">
                        <label class="form-label" for="Name">Name</label>
                        <div  class="form-outline form-white">
                          <input type="text" id="Name" class="form-control form-control-lg" />
                        </div>
  
                      </div>
                      <div class="col-md-6 mb-4 pb-2">
                        <label class="form-label" for="LastName">Last Name</label>
                        <div  class="form-outline form-white">
                          <input type="text" id="LastName" class="form-control form-control-lg" />
                        </div>
  
                      </div>
                    </div>
  
                    <div class="mb-4 pb-2">
                        <label class="form-label" for="Adress">Adress</label>
                      <div  class="form-outline form-white">
                        <input type="text" id="Adress" class="form-control form-control-lg" />
                      </div>
                    </div>
  

                    <div class="mb-4">
                        <label class="form-label" for="DateOfBirth">Date Of birth</label>
                        <div  class="form-outline form-white">
                          <input type="date" id="DateOfBirth" class="form-control form-control-lg" />
                          </div>
                      </div>
                 
  
                    <div class="mb-4">
                        <label class="form-label" for="specialty">Specialty</label>
                      <div  class="form-outline form-white">
                        <input type="text" id="specialty" class="form-control form-control-lg" />
                      </div>
                    </div>
  
                        <button  class="btn mt-4     btn-lg">cancel</button>
                        <button  type="submit" class="btn  mt-4 btn-lg">Register</button>
          
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>