<div class="container p-5" id="Trainer_card">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" id="trainerCard">
            <div class="card-body p-3">

              <img src="images/360_F_129268359_lxO1p1PZEVGxTTVvfBzhsdQkuLABoB1Q-removebg-preview 2.png" class="mb-5" alt="">

 
              <div class="d-flex justify-content-center gap-5">
                <button type="button" class="btn btn-block btn-lg gradient-custom-4 text-white">Login</button>
                <button type="button" class="btn btn-block btn-lg gradient-custom-4 text-white">Sign Up</button>
              </div>

            
            </div>
          </div>
      </div>
    </div>
  </div>
  