<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dashboardStyle.css">
    <title>dashboard</title>
</head>
<body>
    <%- include('layout') %>
    <main class="container">
            <div class="hello-name">
                <h1>Hello , Brahim Oubourrih</h1>
            </div>

            <div class="statistique">
                <div class="count-student">
                   <div class="student">
                    <div>student</div>
                    <div>icon</div>
                   </div>
                   <div class="student-number"> 20 </div>
                </div>
                <div class="validation-student-count">
                    <div class="student">
                        <div>student validated</div>
                        <div>icon</div>
                       </div>
                       <div class="student-number"> 20 </div>
                </div>
                <div class="request-count">
                    <div class="student">
                        <div>requestes</div>
                        <div>icon</div>
                       </div>
                       <div class="student-number"> 20 </div>
                </div>
            </div>

            <div class="welcome-card">
                <div class="card">
                    <div class="text-welcome">Welcome to the 
                        Instructor Dashboard</div>
                    <div class="images">
                        <div class="img1"><img src="/images/student3.png" alt=""></div>
                        <div class="img2"><img src="/images/student2.png" alt=""></div>
                        <div class="img3"><img src="/images/student1.png" alt=""></div>
                    </div>
                </div>
            </div>
    </main>
</body>
</html>