<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dashboardStyle.css">
    <title>dashboard</title>
</head>
<body>
    <%- include('layout') %>
    <main class="container">
            <div class="hello-name">
                <h1>Hello , Brahim Oubourrih</h1>
            </div>

            <div class="statistique">
                <div class="count-student">
                   
                </div>
                <div class="validation-student-count"></div>
                <div class="request-count"></div>
            </div>

            <div class="welcome-card">
                <div class="card">
                    <div class="text-welcome"></div>
                    <div class="images">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
    </main>
</body>
</html>