<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/layoutStyle.css">
    
    <title>Layout</title>
    
</head>
<body>
    <div class="side-bar-container">
            <div class="logo">
                <img src="/images/360_F_129268359_lxO1p1PZEVGxTTVvfBzhsdQkuLABoB1Q-removebg-preview 2.png" alt="logo">
            </div>
            <div class="pages">
                <a href="">
                    aa
                </a>
                <a href="">
                    aa
                </a>
                <a href="">
                    aa

                </a>
                <a href="">
                    aa
                </a>
                <a href="">
                    aa
                </a>
            </div>
            <div class="info-out">
                <a href="">
                    profile
                </a>
                <a href="">
                    logout
                </a>
            </div>
    </div>
</body>
</html>