@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
*{
    margin: 0%;
    padding: 0%;
}

.container{
    margin-left: 30%;
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
   font-family: Itim;
}



.hello-name{
    width: 100%;
    height: 20vh;
}
.hello-name h1{
   text-align: center;
    font-size: 40px;
    font-weight: 300;
   line-height: 80px;

}
.statistique{
    width: 100%;
    height: 33vh;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items:center ;
}
.welcome-card{
    width: 100%;
    height: 48vh;
   
}

.count-student{
    width: 80%;
    border-radius: 5px;

    height: 80px;
    background-color: #CEDEBD;
    margin-bottom: 10px;
}
.validation-student-count{
    width: 80%;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 80px;
    background-color: #CEDEBD;
}
.request-count{
    width: 80%;
    border-radius: 5px;

    height: 80px;
    background-color: #CEDEBD;
}

.card{
    width: 80%;
    height: 90%;
    margin: 10%;
    background-color: #9EB384;
    border-radius: 5px;
}

@media (min-width: 568px) {
    .container{
        margin-left: 10%;
        width: 90%;
        height: 100vh;
        
        
    }
    .hello-name h1{
        text-align: left;
         font-size: 90px;
        line-height: 220px;
        margin-left: 48px;
     }

     .statistique{
        width: 100%;
        height: 33vh;
        display: flex;
        flex-direction: row;
        justify-content:space-around ;
        align-items:center ;
    }

    .count-student{
        width: 25%;
        border-radius: 5px;

        height: 100px;
        margin-bottom: 0px;
    }
    .validation-student-count{
        width: 25%;
        border-radius: 5px;
        margin-bottom: 0px;
        height: 100px;
    }
    .request-count{
        width: 25%;
        border-radius: 5px;
    
        height: 100px;
    }
    .card{
        width: 92%;
        height: 90%;
        
        margin-left: 4%;
        margin-top: 0%;
     
        border-radius: 5px;
    }
}
