@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
body{
    
    position: relative;
    background-repeat: no-repeat;
    background-image: url(/images/medium-shot-people-working-laptops.jpg);
    background-size: cover;
    position: relative;
    z-index: 1;
    overflow-x: hidden;

}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit;
    background-size: inherit;
    background-repeat: inherit;
    filter: blur(4px);
    z-index: -1;
    filter: brightness(50%);
}


#landing{
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: repeat(12, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px; 
}

.header{
    grid-area: 2 / 2 / 6 / 9;
    color: aliceblue;
}

.header h1{
    font-family: "Itim";
    font-weight: 700;
    font-size: 5em;
    color: rgb(255, 255, 255);
}

.header p{
    font-family: "Itim";
    color: rgb(255, 255, 255);
    font-size: large;
}

.material-symbols-outlined{
 
margin-right: 10px;
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 24

}

.pageBtn{
    grid-area: 7 / 2 / 9 / 9;
}
.pageBtn button{
    padding: 10px 90px;
    border-radius: 8px;
    font-weight: 700;
    font-size: large;
    margin-left: 5%;
    background-color: #9EB384;
    color: #fff;
 }

.lowrSection{
    display: flex;
    gap: 10%;
    grid-area: 10 / 3 / 13 / 11;
    color: aliceblue;
}

/* 
#studentForm{
    
    background-color: #9CAB82;
    padding:0% 15%;
    
    
    }
    #studentForm img{
    
    height:25% ;
    margin: 5% 20%;
        
    }
        
    #studentForm input{
    
        background: none;
        border: solid rgb(24, 2, 96) 3px;
    }
    
    #studentForm button{
    
        margin-top: 20%;
        color: #FFF;
        background-color: #596947;
    }
     */

