<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/quizAssigned.css">
  <title>quiz Assigned</title>
</head>

<body>
  <%- include('layoutStudent') %>
  <main class="container">
    <div class="manage-quiz-add">
      <h1>  Quiz assigned to you</h1>
      
    </div>

    <!-- container principal start -->
    <div class="quiz-container">
      <!-- principal carte start -->
      <div class="card-content">
        <div class="image">
          <img src="/images/quizImage.jpg" alt="quiz imag">
        </div>
        <div class="content">
          <p><span>Title : </span> javascript</p>
          <p><span>Class :</span>JS perates</p>
          <p><span>date : </span>11/9/2024 11:00</p>
          <p><span>Success Score : </span>12/20</p>

          <div class="take-button">
                  <a href="/STUDENT/student/quizPage">Take the exam</a>
          </div>
        </div>
        
      </div>
      <!-- principal carte end -->
      <div class="card-content">
        <div class="image">
          <img src="/images/quizImage.jpg" alt="quiz imag">
        </div>
        <div class="content">
          <p><span>Title : </span> javascript</p>
          <p><span>Class :</span>JS perates</p>
          <p><span>date : </span>11/9/2024 11:00</p>
          <p><span>Success Score : </span>12/20</p>

          <div class="take-button">
                  <a href="/student/quizPage">Take the exam</a>
          </div>
        </div>
        
      </div>
      <div class="card-content">
        <div class="image">
          <img src="/images/quizImage.jpg" alt="quiz imag">
        </div>
        <div class="content">
          <p><span>Title : </span> javascript</p>
          <p><span>Class :</span>JS perates</p>
          <p><span>date : </span>11/9/2024 11:00</p>
          <p><span>Success Score : </span>12/20</p>

          <div class="take-button">
                  <a href="/student/quizPage">Take the exam</a>
          </div>
        </div>
        
      </div>

    </div>
    <!--container principal end  -->




  </main>
</body>

</html>