<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/quizPage.css">
    <title>quiz</title>
</head>
<body>
    <div class="container">
        <h1>Development Skills Assessment</h1>
        <form>
            <div class="question">
                <p>1 - Which programming language is used primarily for web development?</p>
                <label class="option">
                    <input type="radio" class="q1"  value="A"> A) Python
                </label>
                <label class="option">
                    <input type="radio" class="q1"  value="B"> B) Java
                </label>
                <label class="option">
                    <input type="radio" class="q1" value="C"> C) JavaScript
                </label>
                <label class="option">
                    <input type="radio" class="q1"  value="D"> D) C++
                </label>
            </div>

            <div class="question">
                <p>2 - What is a common version control system used by developers?</p>
                <label class="option">
                    <input type="radio"  value="A"> A) Git
                </label>
                <label class="option">
                    <input type="radio"  value="B"> B) SVN
                </label>
                <label class="option">
                    <input type="radio"  value="C"> C) Mercurial
                </label>
            </div>

            <div class="question">
                <p>3 - What does HTML stand for?</p>
                <label class="option">
                    <input type="radio"  value="A"> A) HyperText Markup Language
                </label>
                <label class="option">
                    <input type="radio"  value="B"> B) HighText Machine Language
                </label>
                <label class="option">
                    <input type="radio"  value="C"> C) Home Tool Markup Language
                </label>
            </div>
            <div class="btn">
                <button type="submit">
                    submit ansewrs
                </button>
            </div>
        </form>
    </div>
</body>
</html>
