<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/retakeQuiz.css">
    <title>reatke quiz</title>
</head>
<body>
    <%- include('layoutStudent') %>
    <div class="container">
        <div class="form-conatiner">
            <div class="title-request">Request for retake quiz</div>
            <div class="form">
                <form action="">
                    <label for="">chose quiz :</label>
                    <select  name="" id="">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                    </select>

                    <label for="">reason :</label>
                    <textarea name="" id=""></textarea>

                    <button>
                        submit
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>